<div class="ui segment">
    <div class="ui form">
        <div class="inline five fields">

            <div class="field">
                <label>IP:</label>
                <input>
            </div>

            <div class="field">
                <label>域名:</label>
                <input>
            </div>
            <div class="field">
                <label>开始时间:</label>
                <input date-picker>
            </div>

            <div class="field">
                <label>结束时间:</label>
                <input date-picker>
            </div>
            <div class="field">
                <button class="ui small primary button" ng-click="vm.search()">
                        <i class="search icon"></i>  查询
                    </button>
            </div>
        </div>
    </div>
</div>



<table class="ui celled striped table">
    <thead>
        <tr>

            <th>应用</th>
            <th>业务组</th>
            <th>运维负责人</th>
            <th>开发负责人</th>
            <th>服务器状态</th>
            <th>服务器用途</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="9">

            </td>
        </tr>
    </tfoot>
</table>